/* styles.css */
body {
  background-color: #f5f5f5;
}

.header {
  background-color: #897b72; /* Couleur gris inspirée du flyer */
  color: white; /* Texte en blanc */
  text-align: center;
  padding-bottom: 30px;
}

.after-img {
  margin-left: -35px;
}

.header-img {
  padding: 0 10px;
  max-width: 100%;
  height: auto;
}

.section-img {
  border: 5px solid #897b72; /* Bordure gris inspirée du flyer */
  border-radius: 50%; /* Image ronde */
  max-width: 150px; /* Limiter la taille des images */
  height: auto;
}
.cabine-img {
  border: 5px solid #897b72; /* Bordure gris inspirée du flyer */
  max-width: 200px; /* Limiter la taille des images */
  height: auto;
}

.navbar-light {
  background-color: #897b72 !important; /* Couleur gris pour le menu */
}

.navbar-light .navbar-nav .nav-link {
  color: white; /* Texte en blanc */
}

.navbar-brand {
  color: white; /* Texte en blanc */
}

.services-section,
.contact-section,
.about-section {
  padding: 50px 0;
}

.service-item {
  margin-bottom: 30px;
}

.about-section {
  background-color: #f1f1f1;
}

.contact-section {
  background-color: #f5f5f5; /* Couleur de fond gris clair */
  color: #2e2e2e;
}

.btn-orange {
  background-color: #ac786a; /* Couleur orange pour le bouton */
  color: white;
  border: none;
}

.btn-orange:hover {
  background-color: #3c2b24; /* Couleur orange foncé au survol */
}
/* Styles pour les liens d'adresse et de téléphone */
.address-section a {
  color: #3c2b24; /* Couleur gris */
  text-decoration: none; /* Supprimer le soulignement */
}

.address-section a:hover {
  text-decoration: underline; /* Souligner au survol si souhaité */
}
